@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer components {
  .outlet-outer-wrapper {
    @apply w-full max-h-screen overflow-x-auto overflow-y-scroll;
  }
  .outlet-inner-wrapper {
    @apply p-4 my-8 border border-white ms-4 me-8 shadow-3xl sm:p-6 rounded-xl sm:my-12;
  }
  .layout {
    @apply grid gap-3 bg-white sm:gap-8 grid-cols-layOut;
  }
}

.outlet-outer-wrapper::-webkit-scrollbar {
  width: 8px;
}
.outlet-outer-wrapper::-webkit-scrollbar-track {
  background-color: #eb3c33;
  border-radius: 5px;
}
.outlet-outer-wrapper::-webkit-scrollbar-thumb {
  background-color: #eeeaea;
  border-radius: 5px;
}
